div:hover {
  border: 1px solid black;
}

.primaria {
  background-color: yellow;
}

.secundaria {
  background-color: orange;
}

.complementar {
  background-color: blue;
  height: 30px;
}

.escura {
  background-color: brown;
}

.clara {
  background-color: cornsilk;
}

h3 {
  font-family: monospace;
}

div:nth-child(odd) h3 {
  font-style: italic;
}
